<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Carta</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <!-- Loader -->
  <div id="loader">
    <img src="/images/loader.jpg" alt="Cargando...">
  </div>

  <div class="container">
    <div class="tabs">
      <div id="tab-menu" class="tab">Food</div>
      <div id="tab-bebidas" class="tab active">Drinks</div>
    </div>

    <div class="image-container">
      <img id="menu-image" src="/images/menu1.jpg" alt="Carta">
      <div id="notice"></div>
      <div id="prev-button" class="nav-button">&#10094;</div>
      <div id="next-button" class="nav-button">&#10095;</div>
    </div>
  </div>

  <!-- Footer con redes sociales, autor y WhatsApp -->
  <footer>
    <div class="social-icons">
      <a href="https://www.facebook.com/johnf.huertas.3/" target="_blank">
        <img src="/icons/facebook.svg" alt="Facebook">
      </a>
      <a href="https://www.instagram.com/jf_deku/" target="_blank">
        <img src="/icons/instagram.svg" alt="Instagram">
      </a>
      <a href="#"><img src="/icons/tiktok.svg" alt="TikTok"></a>
      <span class="marca">dev-JF</span>
      <a href="https://wa.me/51964996068" target="_blank">
        <img src="/icons/whatsapp.svg" alt="WhatsApp">
      </a>
    </div>
  </footer>

  <!-- Script al final para que cargue correctamente -->
  <script src="/script.js"></script>
</body>
</html>
